@import '../styles/colors.css';

:local(.app) {
  width: 100%;
  position: absolute;
  height: 15vh;
  top: 0;
  text-align: center;
  background-color: $bgcolor;
  z-index: 10;
  header {

    h1 {
      font-size: 2.2em;
      color: $fgcolor;
      letter-spacing: 4px;
      font-family: 'Caudex', serif;
    }
  }
}