@import '../styles/colors.css';

:local(.controls) {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 82vh;
  
  #left-side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
  }
  
  #right-side {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }

  #button-left, #button-right {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    cursor:pointer;
    color: $fgcolor;
  }
  
  #button-left {
    left: 10%;
  }
  
  #button-right {
    right: 10%;
  }
}