@import '../styles/colors.css';

:local(.footer) {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 8vh;
  z-index: 10;
  min-height: 1.6em;
  background-color: $bgcolor;
  
  span {
    text-align: center;
    color: $fgcolor;
    font-size: 1.3em;
    font-family: 'Caudex', serif;
  }
}