:local(.footer) {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 8vh;
  z-index: 10;
  background-color: black;
  
  span {
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Caudex', serif;
  }
}